
/* .wrapper{
    animation: appear1 5s linear;
    animation-timeline: view();
    animation-range: entry 0%, cover 40%;
} */


/* ANIMATIONS */

/* HERO */
#navbar{
    animation: fadeInDown 1s ease-in-out forwards;
    animation-delay: 2.5s;
}
#herocomp1{
    animation: pop 1s ease-in-out forwards;
    animation-delay: 2.5s;
}
#herocomp2{
    animation: pop 1s ease-in-out forwards;
    animation-delay: 2s;
}
/* HERO END */

/* INFORMASI */
#informasiTitle{
    animation: fadeInRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
#informasiContent{
    animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
#infimg1{
    animation: fadeInRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
#infimg2{
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
#infimg3{
    animation: fadeInRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
#infimg4{
    animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
#infimg5{
    animation: fadeInUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
#infimg6{
    animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
/* INFORMASI END */

/* DATA */
#datatitle{
    animation: pop linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
#dataleft{
  animation: fadeInRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
#dataright{
  animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
#btndata{
  animation: fadeInDown linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
/* DATA END */

/* SAMPAH PLASTIK  */
#imgsampah{
  animation: pop linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
#sampahleft h2, #sampahleft div, #sampahleft p{
  animation: fadeInRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
#sampahright p,  #sampahright a{
  animation: fadeInUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
#sampahstat1, #sampahstat2, #sampahstat3{
  animation: fadeInDown linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
#btnsampah{
  animation: fadeInDown linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
/* SAMPAK PLASTIK END */

/* FAQ */
#faqtitle{
    animation: fadeInDown linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
#faqlist{
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
#faq .tab{
  animation: fadeInUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
/* FAQ END */


/* MANFAAT */
/* animation frame */

@keyframes popupFadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* keyframe area */
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes appear1 {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0
      0);
      scale: 0.5;
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
      scale: 1;

    }
  }

  @keyframes appear2 {
    from {
      opacity: 0;
      transform: translateX(-90px);
      scale: 0.5;
    }
    to {
      opacity: 1;
      transform: translateX(0px);
      scale: 1;

    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(150px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes slideLeft {
    from {
      transform: translateX(40px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(-40px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* keyframe khusus */
  
  @keyframes slideLeft1 {
    from {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideRight1 {
    from {
      transform: translateX(-200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* keyframe khusus end */
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* KEYFRAMES */
@keyframes pop {
    from{
        scale: 1.2;
    } to{
        scale: 1;
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(70px);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(70px);
        visibility: visible;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(70px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}