.panah {
    animation: Bounce 1s infinite alternate;
}

.manfaat-area {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.image-area img {
    width: 80%;
    height: 100%;
    object-fit: cover;

}


.content-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    color: white;
}

.text-content {
    border: 1px #15803d solid;
    backdrop-filter: blur(5px);
    border-radius: 40px;
    padding: 2rem;
    text-align: center;
    width: 60%;
}


.judul-manfaat {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.isi-manfaat {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 150%;
    word-spacing: 5px;
}

.isi-tebal {
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-manfaat{
    font-size: 0.8rem;
    font-weight: bold;
}

.content-area1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    color: white;
}

.area-teks{
    display: flex;
    width: 50%;
    height: 64vh;
    justify-content: center;
    align-items: center;
}

.text-content1 {
    border: 1px #15803d solid;
    backdrop-filter: blur(5px);
    border-radius: 40px;
    padding: 2rem;
    text-align: center;
    width: 80%;
}


.judul-manfaat1 {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.isi-manfaat1 {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 150%;
    word-spacing: 5px;
}

.isi-tebal1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-manfaat1{
    font-size: 0.8rem;
    font-weight: bold;
}

/* teast */

.gambar{
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 2s;
}


.gambar:hover{
    transform: scale(1.1);
    border: 5px #15803d solid;
}

/* animasi */

#navbar{
    animation: fadeInDown 1s ease-in-out forwards;
    animation-delay: 2.5s;
}
#navbartri{
  animation: fadeInDown 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
#navbarman{
  animation: fadeInDown 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
#navbargame{
  animation: fadeInDown 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
#herocomp1game{
  animation: pop 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
#herocomp2game{
  animation: pop 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
#herocomp1{
    animation: pop 1s ease-in-out forwards;
    animation-delay: 2.5s;
}
#herocomp2{
    animation: pop 1s ease-in-out forwards;
    animation-delay: 2s;
}
#herocomp1tri{
  animation: pop 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
#herocomp2tri{
  animation: pop 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
#herocomp3tri{
  animation: pop 1s ease-in-out forwards;
  animation-delay: 1s;
}
#herocomp1man{
  animation: pop 1s ease-in-out forwards;
  animation-delay: 1.4s;
}
#herocomp2man{
  animation: pop 1s ease-in-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
/* HERO END */

#mans #manleft, #manleft h1, #manleft p, #manleft div{
    animation: fadeInRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
  #mans #manright, #manright h1, #manright p, #manright div{
    animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

  .tempat-text{
    animation: fadeIn 10s linear;
    animation-timeline: view();
    animation-range: entry 0%, cover 90%;
  }

  .kartu{
    animation: appear1 5s linear;
    animation-timeline: view();
    animation-range: entry 0%, cover 40%;
  }

  #imgood{
    animation: pop 1s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }



/* keyframe */

@keyframes appear1 {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0
      0);
      scale: 0.5;
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
      scale: 1;

    }
  }

  @keyframes appear2 {
    from {
      opacity: 0;
      transform: translateX(-90px);
      scale: 0.5;
    }
    to {
      opacity: 1;
      transform: translateX(0px);
      scale: 1;

    }
  }

@keyframes Bounce {
    from {
        transform: translateY(0px) scale(1);
    }

    to {
        transform: translateY(-50px) scale(1.5);
    }
}


@keyframes popupFadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* keyframe area */
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes appear1 {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0
      0);
      scale: 0.5;
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
      scale: 1;

    }
  }

  @keyframes appear2 {
    from {
      opacity: 0;
      transform: translateX(-90px);
      scale: 0.5;
    }
    to {
      opacity: 1;
      transform: translateX(0px);
      scale: 1;

    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(150px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes slideLeft {
    from {
      transform: translateX(40px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(-40px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* keyframe khusus */
  
  @keyframes slideLeft1 {
    from {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideRight1 {
    from {
      transform: translateX(-200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* keyframe khusus end */
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* KEYFRAMES */
@keyframes pop {
    from{
        scale: 1.2;
    } to{
        scale: 1;
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(70px);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(70px);
        visibility: visible;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(70px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}