.panah {
    animation: Bounce 1s infinite alternate;
}

.manfaat-area {
    /* background-color: blue; */
    /* padding: 20px; */
    width: 100vw;
    height: 80vh;
    display: flex;
    /* gap: 100px; */
    justify-content: space-between;
    align-items: center;
}

.image-area {
    /* background-color: rgb(255, 145, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.image-area img {
    width: 80%;
    height: 100%;
    object-fit: cover;

}


.content-area {
    display: flex;
    /* backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1); */
    /* border: 2px white solid; */
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    color: white;
}

.text-content {
    border: 1px #15803d solid;
    backdrop-filter: blur(5px);
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* box-shadow: 0px 3px 30px #15803d; */
    border-radius: 40px;
    padding: 2rem;
    text-align: center;
    width: 60%;
}


.judul-manfaat {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.isi-manfaat {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 150%;
    word-spacing: 5px;
}

.isi-tebal {
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-manfaat{
    font-size: 0.8rem;
    font-weight: bold;
}

.content-area1 {
    display: flex;
    /* backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1); */
    /* border: 2px white solid; */
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    color: white;
}

.area-teks{
    display: flex;
    width: 50%;
    height: 64vh;
    justify-content: center;
    align-items: center;
}

.text-content1 {
    border: 1px #15803d solid;
    backdrop-filter: blur(5px);
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* box-shadow: 0px 3px 30px #15803d; */
    border-radius: 40px;
    padding: 2rem;
    text-align: center;
    width: 80%;
}


.judul-manfaat1 {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.isi-manfaat1 {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 150%;
    word-spacing: 5px;
}

.isi-tebal1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-manfaat1{
    font-size: 0.8rem;
    font-weight: bold;
}

/* teast */



@keyframes Bounce {
    from {
        transform: translateY(0px) scale(1);
    }

    to {
        transform: translateY(-50px) scale(1.5);
    }
}