.container {
    transition: all 0.3s ease-in-out;
}

.circle {
    width: 3rem;
    height: 3rem;
    transition: all 0.3s ease-in-out;
}

.circle .icon {
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;

}

.container:hover .circle {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
    transform: rotate(45deg);
    background-color: #19c16e;
}

.container:hover .circle .icon {
    opacity: 1;
}

